@import './resets';
@import './variables';

@function weight($weight-name) {
    @return map-get($font-weights , $weight-name);
}

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin darkMode($dark-theme: true) {
    @if $dark-theme == false {
        background: white;
        color: black;
    } 
    @else {
        background: darken($primary-color, 0%);
        color: lighten($text-color, 0%)
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

body {
    background: $primary-color;
    color: $text-color;
}

.main {
    @include flexCenter(row);
    width: 80%;
    margin: 0 auto;

    #{&}-paragraph {
        font-weight: weight(bold);

        &:hover {
            color: red;
        }
    }

    @include mobile {
        flex-direction: column;
    }
}

.light {
    @include darkMode($dark-theme: true);
}